.left {
    width: 23.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.25vw solid;
    border-radius: 1vw;
    padding-top: vw;
    color: white;
    font-size: 2vw;
}

.right {
    width: 71.75vw;
    margin: 0 0 0 1vw;
    color: white;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.top {
    margin: 0 0 1vw 0;
    border-radius: 3vw;
    text-align: center;
    display: flex;
    gap: 1vw;
    justify-content: space-evenly;
    height: 3vw;
    align-items: center;
    color: white;
    font-size: 1.5vw;
}

.top > * {
    width: 23.25vw;
    color: white;
}

.select {
    border: 0.175vw solid;
    text-align: center;
    border-radius: 1vw;
    color: white;
    font-size: 1.5vw;
}

.bottom {
    display: flex;
    color: white;
}

.cards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    color: white;
}