@import "rc-slider/assets/index.css";

.catalog {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.top {
    top: 4vw;
    height: calc(4vw * var(--scale));
    width: 96vw;
    margin: calc(1vw * var(--scale));
    text-align: center;
    display: flex;
    gap: calc(1vw * var(--scale));
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(1.5vw * var(--scale));
    position: fixed;
    z-index: 200;
}

.top_hide {
    overflow: hidden;
}

.left {
    width: 23.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: sticky;
    height: fit-content;
    border: calc(0.25vw * var(--scale)) solid;
    border-radius: calc(1.5vw * var(--scale));
    padding: 0 calc(0.5vw * var(--scale));
    transition: transform 0.3s ease-in-out;
}

.left_scroll_up {
    /* top: 9vw; */
    /* bottom: auto; */
}

.left_scroll_down {
    /* top: -11vw; */
    /* bottom: auto; */
}

.filter_container {
    margin: calc(2vw * var(--scale)) 0vw;
    width: 100%;
}

.h2 {
    font-size: calc(2vw * var(--scale));
    margin-bottom: calc(1vw * var(--scale));
    text-align: center;
}

.slider_container {
    margin: calc(2vw * var(--scale)) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rc-slider {
    width: 80% !important;
}

.price_range {
    margin-top: calc(1vw * var(--scale));
    display: flex;
    justify-content: space-between;
    font-size: calc(1.5vw * var(--scale));
    width: 80%;
}

.filtering_criteria_container {
    display: flex;
    flex-direction: column;
}

.filtering_criteria {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: calc(1.75vw * var(--scale));
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: calc(2vw * var(--scale));
    width: calc(2vw * var(--scale));
    background-color: white;
    border-radius: calc(0.25vw * var(--scale));
    margin-right: calc(0.5vw * var(--scale));
    cursor: pointer;
}

.checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.right {
    width: 71.75vw;
    margin: 0 0 0 1vw;
    color: white;
}

.sorting_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(0.5vw * var(--scale));
    width: calc(23.25vw * var(--scale));
    background-color: transparent;
}

.items_counter {
    width: calc(23.25vw * var(--scale));
}

.select_container {
    margin-top: 8vw;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    pointer-events: none;
}

.select {
    border-radius: calc(1.5vw * var(--scale));
    border: calc(0.25vw * var(--scale)) solid;
    width: calc(14vw * var(--scale));
    cursor: pointer;
    pointer-events: all;
}

.select:hover {
    color: black;
    border-color: white;
    background-color: white;
}

.ul_show {
    opacity: 100%;
    pointer-events: all;
    border-radius: calc(1.5vw * var(--scale));
    background-color: transparent;
}

.ul_hide {
    opacity: 0%;
    pointer-events: none;
}

.li {
    border-radius: calc(1.5vw * var(--scale));
    cursor: pointer;
    border: 0.25vw solid white;
}

.li:hover {
    color: black;
    border-color: black;
    background-color: white;
}

.bottom {
    display: flex;
    color: white;
    margin-top: 3vw;
}

.cards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    color: white;
}

.clear_all_filters {
    color: white;
    font-size: calc(1.5vw * var(--scale));
    height: calc(3vw * var(--scale));
    border: calc(0.25vw * var(--scale)) solid;
    border-radius: calc(2vw * var(--scale));
    margin-bottom: calc(0.5vw * var(--scale));
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear_all_filters:hover {
    color: black;
    border-color: white;
    background-color: white;
}

.load_more_button_show {
    color: white;
    border: calc(0.25vw * var(--scale)) solid white;
    border-radius: calc(2vw * var(--scale));
    font-size: calc(2vw * var(--scale));
    margin: calc(1vw * var(--scale)) 0;
    margin-bottom: 0;
    cursor: pointer;
    padding: 0 calc(2vw * var(--scale));
    width: 96vw;
}

.load_more_button_show:hover {
    color: black;
    border-color: white;
    background-color: white;
}

.load_more_button_hide {
    visibility: collapse;
}

.modal_container_show {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_container_hide {
    z-index: -1;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.modal {
    width: calc(calc(100vw / 3) * var(--scale));
    height: calc(12.5vw * var(--scale));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    border: calc(0.25vw * var(--scale)) solid white;
    border-radius: calc(2vw * var(--scale));
    font-size: calc(2vw * var(--scale));
}

.modal_text {
    text-align: center;
}

.modal_button {
    color: white;
    border: calc(0.25vw * var(--scale)) solid white;
    border-radius: calc(2vw * var(--scale));
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_button:hover {
    color: black;
    border-color: white;
    background-color: white;
}

@media (max-width: 600px) {
    .top {
        top: 18vw;
        height: 9vw;
    }

    .bottom {
        gap: 2vw;
        margin-top: 9vw;
    }

    .left {
        width: 47vw;
        top: 29vw;
    }

    .right {
        width: 47vw;
        margin: 0;
    }

    .cards {
        justify-content: center;
    }

    .select_container {
        margin-top: 15vw;
    }
}