.left {
    width: 23.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.25vw solid;
    border-radius: 1vw;
    padding-top: vw;
    color: white;
    font-size: 2vw;
}

.filter_container {
    margin-top: 2vw;
}

.right {
    width: 71.75vw;
    margin: 0 0 0 1vw;
    color: white;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.top {
    margin: 0 0 1vw 0;
    border-radius: 3vw;
    text-align: center;
    display: flex;
    gap: 1vw;
    justify-content: space-evenly;
    height: 3vw;
    align-items: center;
    color: white;
    font-size: 1.5vw;
}

.sorting_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    width: 23.25vw;
}

.items_counter {
    width: 23.25vw;
}

.select_container {
    margin-top: 7vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: transparent;
}

.select {
    border-radius: 0.5vw;
    border: 0.15vw solid;
    width: 13.25vw;
}

.select:hover {
    cursor: pointer;
    color: black;
    border-color: white;
    background-color: white;
}

.ul_show {
    opacity: 100%;
    pointer-events: all;
    border-radius: 0.5vw;
}

.ul_hide {
    opacity: 0%;
    pointer-events: none;
}

.li {
    border-radius: 0.5vw;
}

.li:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.bottom {
    display: flex;
    color: white;
}

.cards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    color: white;
}