.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* position: relative; */
}

.top {
    margin: 0 0 1vw 0;
    border-radius: 3vw;
    text-align: center;
    display: flex;
    gap: 1vw;
    justify-content: space-evenly;
    height: 3vw;
    align-items: center;
    color: white;
    font-size: 1.5vw;
}

.left {
    width: 23.25vw;
    display: flex;
    flex-direction: column;
    border: 0.25vw solid;
    border-radius: 1vw;
    color: white;
}

.filter_container {
    margin: 2vw 1vw;
}

.h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
    text-align: center;
}

.price_range {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
}

.filtering_criteria_container {
    display: flex;
    flex-direction: column;
    font-size: 1.75vw;
}

.filtering_criteria {
    cursor: pointer;
}

.checkbox {
    scale: 1.5;
    margin-right: 1vw;
    cursor: pointer;

}

.right {
    width: 71.75vw;
    margin: 0 0 0 1vw;
    color: white;
}

.sorting_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    width: 23.25vw;
}

.items_counter {
    width: 23.25vw;
}

.select_container {
    margin-top: 7vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: transparent;
}

.select {
    border-radius: 0.5vw;
    border: 0.15vw solid;
    width: 13.25vw;
}

.select:hover {
    cursor: pointer;
    color: black;
    border-color: white;
    background-color: white;
}

.ul_show {
    opacity: 100%;
    pointer-events: all;
    border-radius: 0.5vw;
}

.ul_hide {
    opacity: 0%;
    pointer-events: none;
}

.li {
    border-radius: 0.5vw;
}

.li:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.bottom {
    display: flex;
    color: white;
}

.cards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    color: white;
}

.clear_all_filters {
    color: white;
    font-size: 2vw;
    height: 3vw;
    border: 0.25vw solid;
    border-radius: 2vw;
    margin: 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear_all_filters:hover {
    color: black;
    border-color: white;
    background-color: white;
}

.load_more_button_show {
    color: white;
    border: 0.25vw solid white;
    border-radius: 2vw;
    font-size: 2vw;
    margin: 1vw 1vw 0 1vw;
    cursor: pointer;
    padding: 0 2vw;
    width: 23.25vw;
}

.load_more_button_show:hover {
    color: black;
    border-color: white;
    background-color: white;
}

.load_more_button_hide {
    visibility: collapse;
}

.modal_container_show {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_container_hide {
    z-index: -1;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.modal {
    width: calc(100vw / 3);
    height: 12.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    border: 0.25vw solid white;
    border-radius: 2vw;
    font-size: 2vw;
}

.modal_text {
    text-align: center;
}

.modal_button {
    color: white;
    border: 0.25vw solid white;
    border-radius: 2vw;
    /* height: 3vw; */
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_button:hover {
    color: black;
    border-color: white;
    background-color: white;
}