.section {
    margin: 2vw 0 4vw 0;
    text-align: center;
    padding: 0 4vw;
    font-size: 2vw;
}

.h1 {
    font-size: 4vw;
    margin-bottom: 2vw;
}

.h2 {
    margin-bottom: 0;
}

.p {
    margin-bottom: 2vw;
}

.ul {
    margin-top: 2vw !important;
}