.section {
    margin: calc(2vw * var(--scale)) 0 calc(4vw * var(--scale)) 0;
    text-align: center;
    padding: 0 calc(2vw * var(--scale));
    color: white;
    font-size: calc(2vw * var(--scale));
}

.h1 {
    font-size: calc(4vw * var(--scale));
    color: white;
    margin-bottom: calc(2vw * var(--scale));
}

.h2 {
    color: white;
    margin-bottom: 0;
}

.p {
    color: white;
    margin-bottom: calc(2vw * var(--scale));
}

.ul {
    color: white;
    margin-bottom: calc(2vw * var(--scale));
}