.article {
    border-radius: 1vw;
    overflow: hidden;
    width: 23.25vw;
    color: white;
}

.image_container {
    height: 17.5vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.spix_96 {
    scale: 1.31;
    margin-left: 1.5vw;
    margin-bottom: 0.6vw;
}

.text_container {
    height: 17.5vw;
    border-left: 0.25vw solid;
    border-right: 0.25vw solid;
    border-bottom: 0.25vw solid;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    padding: 0.5vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 1.75vw;
}

.rating {
    font-size: 1.25vw;
}

.stars {
    color: gold;
}

.description {
    font-size: 1.25vw;
    height: 6vw;
    display: flex;
    align-items: center;
}

.price {
    display: flex;
    font-size: 1.5vw;
    gap: 1vw;
    justify-content: center;
}

.previous_price {
    position: relative;
    font-size: 1.5vw;
    color: red;
}

.previous_price:before,
.previous_price:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.125vw;
    background-color: red;
}

.previous_price:before {
    transform: rotate(-10deg);
}

.previous_price:after {
    transform: rotate(10deg);
}

.current_price {
    color: rgb(0, 255, 0);
}

.button {
    color: white;
    font-size: 1.5vw;
    padding: 0 1vw;
    border-radius: 0.5vw;
    width: 100%;
    border: 0.125vw solid;
}

.button:hover {
    color: black;
    border-color: white;
    background-color: white;
    cursor: pointer;
}