.card {
    border-radius: calc(1.5vw * var(--scale));
    overflow: hidden;
    width: calc(23.25vw * var(--scale));
    color: white;
}

.image_container {
    height: calc(17.5vw * var(--scale));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.spix_96 {
    scale: 1.31;
    margin-left: calc(1.5vw * var(--scale));
    margin-bottom: calc(0.6vw * var(--scale));
}

.text_container {
    height: calc(17.5vw * var(--scale));
    border-left: calc(0.25vw * var(--scale)) solid;
    border-right: calc(0.25vw * var(--scale)) solid;
    border-bottom: calc(0.25vw * var(--scale)) solid;
    border-bottom-left-radius: calc(1.5vw * var(--scale));
    border-bottom-right-radius: calc(1.5vw * var(--scale));
    padding: calc(0.5vw * var(--scale));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: calc(1.75vw * var(--scale));
}

.rating {
    font-size: calc(1.25vw * var(--scale));
}

.stars {
    color: gold;
}

.description {
    font-size: calc(1.25vw * var(--scale));
    height: calc(6vw * var(--scale));
    display: flex;
    align-items: center;
}

.price {
    display: flex;
    font-size: calc(1.5vw * var(--scale));
    gap: calc(1vw * var(--scale));
    justify-content: center;
}

.previous_price {
    position: relative;
    font-size: calc(1.5vw * var(--scale));
    color: red;
}

.previous_price:before,
.previous_price:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: calc(0.125vw * var(--scale));
    background-color: red;
}

.previous_price:before {
    transform: rotate(-10deg);
}

.previous_price:after {
    transform: rotate(10deg);
}

.current_price {
    color: rgb(0, 255, 0);
}

.button {
    color: white;
    font-size: calc(1.5vw * var(--scale));
    padding: 0 calc(1vw * var(--scale));
    border-radius: calc(1.5vw * var(--scale));
    width: 100%;
    border: calc(0.25vw * var(--scale)) solid;
    cursor: pointer;
}

.button:hover {
    color: black;
    border-color: white;
    background-color: white;
}