.logo_wrapper {
    width: calc(23.25vw * var(--scale));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(1vw * var(--scale));
    overflow: hidden;
    color: white;
}

.logo {
    height: calc(2vw * var(--scale));
    width: calc(2vw * var(--scale));
    color: white;
}

.music_store {
    font-size: calc(2vw * var(--scale));
    color: white;
}

.header {
    width: 100vw;
    z-index: 100;
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 96vw;
    display: flex;
    flex-wrap: wrap;
    gap: calc(1vw * var(--scale));
    justify-content: space-evenly;
    color: white;
    height: 3vw;
    align-items: center;
    margin-top: calc(1vw * var(--scale));
    margin-bottom: calc(1vw * var(--scale));
}

.button {
    font-size: calc(2vw * var(--scale));
    text-align: center;
    border: calc(0.25vw * var(--scale)) solid;
    border-radius: calc(2vw * var(--scale));
    width: calc(23.25vw * var(--scale));
    color: white;
}

.button:hover {
    color: black;
    border-color: white;
    background-color: white;
}

@media (max-width: 768px) {
    .nav {
        height: 16vw;
    }
}