.logo_wrapper {
    width: 25vw;
    padding-left: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 5vw;
    width: 5vw;
}

.music_store {
    font-size: 3vw;
}

.header {
    margin: 1vw 0;
    width: 100vw;
    display: flex;
    position: sticky;
}

.nav {
    margin: 0 2vw;
    display: flex;
    gap: 2vw;
}

.button {
    font-size: 3vw;
    text-align: center;
    border: 0.3vw solid;
    border-radius: 3vw;
    width: 22.5vw;
}

.button:hover {
    color: black;
    border-color: white;
    background-color: white;
}

/* .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 5vw;
    width: 5vw;
    pointer-events: none;
}

.cart_icon {
    font-size: 5vw;
}

.items_in_cart_count {
    position: absolute;
    color: black;
    background-color: transparent;
    font-size: 2vw;
    top: 32%;
    left: 57%;
    transform: translate(-50%, -50%);
} */