.logo_wrapper {
    width: calc(23.25vw * var(--scale));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(1vw * var(--scale));
    overflow: hidden;
    color: white;
}

.logo {
    height: calc(2vw * var(--scale));
    width: calc(2vw * var(--scale));
    color: white;
}

.music_store {
    font-size: calc(2vw * var(--scale));
    color: white;
}

.header {
    width: 96vw;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
}

.nav {
    padding: calc(1vw * var(--scale)) 0;
    width: 96vw;
    display: flex;
    flex-wrap: wrap;
    gap: calc(1vw * var(--scale));
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
}

.button {
    font-size: calc(2vw * var(--scale));
    text-align: center;
    border: calc(0.25vw * var(--scale)) solid;
    border-radius: calc(2vw * var(--scale));
    width: calc(23.25vw * var(--scale));
    color: white;
}

.button:hover {
    color: black;
    border-color: white;
    background-color: white;
}