.footer {
    width: 100vw;
}

.nav {
    height: 3vw;
    margin: 1vw 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10.5vw;
}

.button {
    border: 0.2vw solid;
    border-radius: 2vw;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
}

.button:hover {
    color: black;
    border-color: white;
    background-color: white;
}