.nav {
    width: 96vw;
    margin: calc(1vw * var(--scale)) 0;
    display: flex;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
    gap: calc(1vw * var(--scale));
}

.button {
    border: calc(0.25vw * var(--scale)) solid;
    border-radius: calc(2vw * var(--scale));
    width: calc(23.25vw * var(--scale));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(2vw * var(--scale));
    color: white;
}

.button:hover {
    color: black;
    border-color: white;
    background-color: white;
}