@import 'https://use.fontawesome.com/releases/v6.4.0/css/all.css';

html * {
  color: white;
  border-color: white;
  background-color: black;
}

a {
  text-decoration: none;
}

main {
  height: calc(100vh - 10vw);
}

.active {
  color: black;
  border-color: white !important;
  background-color: white
}