html * {
  color: white;
  border-color: white;
  background-color: black;
  user-select: none;
}

a {
  text-decoration: none;
}

main {
  flex-grow: 1;
  display: flex;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_container {
  width: 75.5vw;
  padding: 0 2vw;
}

.active {
  color: black;
  border-color: white !important;
  background-color: white
}